@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-background-clip: text;
}
.border-gradient::before {
  content: "";
  position: absolute;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  /* inset: -2px; */
  top: -2.5px;
  left: -2.5px;
  background: linear-gradient(90deg, #42e8e0 0%, #421ecf 100%);
  filter: blur(4px);
  transform: translate3d(0px, 0px, -10px);
  border-radius: inherit;
  pointer-events: none;
  transition: transform 0.3s ease;
  z-index: -1;
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
